<section class="banner-bottom py-5">
	<div class="container py-5">
		<h3 class="title-wthree mb-lg-5 mb-4 text-center">Shop Now</h3>
		<!--/row-->
		<div class="row shop-wthree-info text-center">
			
			{{#each products}}
			<div class="col-lg-3 shop-info-grid text-center mt-4">
				<div class="product-shoe-info shoe">
					<div class="men-thumb-item">
						<img src="{{this.image}}" class="img-fluid" alt="">

					</div>
					
					<div class="item-info-product">
						<h4>
							<a href="single.html">{{this.name}} </a>
						</h4>

						<div class="product_price">
							<div class="grid-price">
								<span class="money"><span>${{this.price}}</span> </span>
							</div>
						</div>
						<ul class="stars">
							<li><a href="#"><span class="fa fa-star" aria-hidden="true"></span></a></li>
							<li><a href="#"><span class="fa fa-star" aria-hidden="true"></span></a></li>
							<li><a href="#"><span class="fa fa-star-half-o" aria-hidden="true"></span></a></li>
							<li><a href="#"><span class="fa fa-star-half-o" aria-hidden="true"></span></a></li>
							<li><a href="#"><span class="fa fa-star-o" aria-hidden="true"></span></a></li>
						</ul>
					</div>
				</div>
			</div>
			{{/each}}


		</div>
		<nav aria-label="Page navigation example mt-5">
			<ul class="pagination">
				<li class="page-item">
					<a class="page-link" href="#">Previous</a>
				</li>
				<li class="page-item">
					<a class="page-link" href="#">1</a>
				</li>
				<li class="page-item">
					<a class="page-link" href="#">2</a>
				</li>
				<li class="page-item">
					<a class="page-link" href="#">3</a>
				</li>
				<li class="page-item">
					<a class="page-link" href="#">Next</a>
				</li>
			</ul>
		</nav>
	</div>
</section>